* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html,
body,
#__next,
.page {
  height: 100%;
  width: 100%;
}

.page {
  overflow-y: scroll;
  background-color: azure;
}

.header {
  text-align: center;
}
